body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-transformer {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-transformer .form-transformer-heading,
.form-transformer .checkbox {
  margin-bottom: 10px;
}
.form-transformer .checkbox {
  font-weight: normal;
}
.form-transformer .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-transformer .form-control:focus {
  z-index: 2;
}
.form-transformer input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#result {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#result.loading,
#result.error,
#result.completed {
  display: block;
}

#result::before {
  display: block;
  text-align: center;

  font-size: 36px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#result.loading::before {
  content: "↻";
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

#result.error::before {
  content: "✗ Error";
  color: red;
  margin: -15px -15px 15px;
  border-bottom: 1px solid #e3e3e3;
}

#result.completed::before {
  content: "✓ Completed";
  color: green;
  margin: -15px -15px 15px;
  border-bottom: 1px solid #e3e3e3;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

